body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #043b87;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
